@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{box-sizing: border-box;
}


body{
    background-color: steelblue;
    color: #fff;
    display: flex;
    margin: 0;
    font-family: "Muli", sans-serif;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
    
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: lightblue;
}

.form-control{
    width: 300px;
    position: relative;
    margin: 20px 0 40px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0 ;
    color: #fff;
    font-size: 18px;
    font-family: inherit;
}

.form-control input:focus, .form-control input:valid{
    outline: 0;
    border-bottom-color:lightblue ;
}

.btn{
    padding: 15px;
    width: 100%;
    background-color: lightblue;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control span{
    display: inline-block;
    min-width:5px;
    font-size: 18px;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

}


.form-control input:focus + label span, .form-control input:valid + label span{
    transform: translateY(-30px);
    color: lightblue;
    
}